/*navigation bar */
ul {
  list-style-type: none;
  width: 100%; /* Full-width */
  overflow: auto; /* Overflow due to float */
  background-color: #0035de;
}
.nav-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    transition: all 0.3s ease; 
    color: #ffffff; /* White text color */
    display: block;
    padding: 2%;
    text-decoration-line: none;
}
.nav-bar a:hover {
  /*backdrop-filter: opacity(0.6); not sure why it doesnt work*/
  filter: opacity(0.6);
}

.button{
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 0px solid #EDAF92;
  background: #FFFDDA;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0,  0);
 }
 
 .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 25px; 
  width: 175px;
  border: 12px solid #0000;
 }