body {
  font-family: 'Dokdo';
  color:#EDAF92
}

.button{
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 0px solid #EDAF92;
  background: #FFFDDA;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0,  0.25);
  font-family: 'Dokdo';
  color:#EDAF92;
  margin: auto;
 }
 
 .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 20px; 
  width: 175px;
  border: 12px solid #0000;
  margin: auto;
 }

.title {
  color: #E7876E;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 30px; 
  width: 175px;
  border: 12px solid #0000;
 }

 .calculator {
  width: 240px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFD7B8;
  stroke-width: 5px;
  stroke: #EDAF92;
  filter: drop-shadow(0px 1px 1px rgba(0,0, 0, 0.25)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
 }

.screen {
  width: 180px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #EDAF92;
  margin: auto;
}